name: dio_spy
description: A lightweight Dio HTTP inspector with clean minimal UI.
homepage: https://github.com/7wilightxdev/dio_spy
repository: https://github.com/7wilightxdev/dio_spy
version: 0.0.1
publish_to: none

environment:
  sdk: ^3.0.0
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  dio: ">=5.0.0 <6.0.0"
  shake_gesture: ^2.0.0
  json_visualizer: 0.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true